body {
  background-color: #ffffff;
}

.top {
  /* background-color: #ffedb7; */
  padding: 10px;
  margin: 100px;
  border-radius: 50px;
}

#wrap main h1 {
  font-family: gmarketsansmedium;
  font-size: 60px;
  display: flex;
  justify-content: center;
  margin: 100px auto 40px auto;
}

a {
  text-decoration: none;
  color: #293243;
}
#wrap main form {
  display: flex;
  justify-content: center;
}

#wrap main form input {
  padding: 10px;
  width: 400px;
  height: 20px;
  background-color: white;
  border: 3px solid #293243;
  border-right: none;
}

#wrap main form button {
  font-family: gmarketsanslight;
  color: white;
  padding: 10px;
  width: 100px;
  background-color: #293243;
  border: none;
  cursor: pointer;
}

#wrap main form button:hover {
  background-color: #dfa67b;
}

.movieListWrap {
  display: flex;
  flex-wrap: wrap;
  /* grid-template-rows: repeat(2, 1fr); */
  grid-template-columns: repeat(auto fill, min max, 200px, 1fr);
  justify-content: center;
  column-gap: 20px;
  row-gap: 50px;
}

.movieCard {
  position: relative;
  display: flex;
  flex-direction: column;
  /* word-wrap: break-word; */
  background-color: white;
  background-clip: border-box;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 20%;
  padding: 15px;
  /* margin: 50px; */
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.movieCard:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.card-title {
  display: flex;
  justify-content: center;
  font-family: gmarketsansmedium;
  font-size: 25px;
  text-align: center;
}

img.moviePoster {
  border-radius: 10px;
}
.card-text {
  font-size: 14px;
  text-align: center;
  font-family: helvetica;
}
